body{
    background-color: #eaecee;
}
#voltaje {
    width: 100%;
    height: 100px;
}

#amperio {
    width: 100%;
    height: 100px;
}
#signal1 {
    width: 100%;
    height: 300px;
  }
#signal2 {
    width: 100%;
    height: 300px;
  }
.topzise{
    padding-top: 10px;
    padding-bottom: 30px;
}